.jumbotron{
    background: linear-gradient(180deg, rgba(230,70,70,1) 12%, rgba(220,225,227,1) 100%);
}
.jumbotron h1{
    font-weight: bold;
    color: black;
    font-style: italic;
}
.jumbotron p{
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    font-style: italic;
}
.movie-img{
    height: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

li{
    font-weight: bold;
    color: black;   
}
li a{
    color: blue;
}
body{
    background: #DCE1E3;
}
img{
    height: 250px;
    width: auto;
}
.student h1{
    font-weight: bold;
    color: black;
    font-style: italic;
}
.card-footer{
    background-color: wheat;
    padding-top: -7px;
}
